        html,body {width: 100%; height: 100%;padding: 0; margin: 0;}
        body{background-image: url(./img/bcgrnd.jpg);background-repeat: no-repeat;background-position: center; background-size: cover;}
        .nivlinks {background-color: rgba(185, 182, 174, 0.466); display: flex; align-items: center; font-family: sans-serif;  justify-content: space-between; padding: 5px; }
        .nivlinks,a {margin: 10px; font-size: x-large; border-radius: 30px; -webkit-text-fill-color: black; text-decoration: none; padding:right,5px;}
        form { justify-content: center; 
                align-items: center;
                display: flex;
                flex-direction: column;
                height: 70vh;
            }
        [type="search"]{width: 700px; height: 45px; border-radius: 100px; padding-left: 20px; font-size: larger; margin-top: 0px;}
        h1{display: flex; align-items: center; justify-content: center; font-size: 60px; -webkit-text-fill-color: rgba(110, 92, 69, 0.644); margin-bottom: 8px; }
        [type="submit"]{width: 150px; height: 40px; border-radius: 30px;  background-color: rgba(180, 161, 120, 0.185);}
        [type="submit"]:hover {background-color: rgba(180, 161, 120, 0.397); transition: 0.3s;}
        [href="./create.html"]{ border: 1px solid black; padding: 5px; background-color: rgba(161, 150, 113, 0.24);}
