        html,body {max-width: 100%; height: 2000px;padding: 0; margin: 0;}
        /* body{background-color: rgb(238, 237, 235); } */
        .nivlinks {background-color: rgba(151, 144, 126, 0.466); display: flex;  font-family: sans-serif; width: 99%; justify-content: space-between;  position: fixed;  align-items: center; margin-left: 9px;padding: 10px;}

        .nivlinks,a { font-size: x-large; border-radius: 30px; -webkit-text-fill-color: black; text-decoration: none; margin-right: 4px; }

        [type="search"]{width: 700px; height: 45px; border-radius: 100px; padding-left: 20px; font-size: larger; }
        h1{ font-size: 150px; -webkit-text-fill-color: rgba(133, 119, 101, 0.644); justify-content: first baseline; }
        [type="submit"]{width: 150px; height: 40px; border-radius: 30px; background-color: rgba(180, 161, 120, 0.185);}
        [type="submit"]:hover {background-color: rgba(180, 161, 120, 0.397); position: transition: 0.3s;}
        [href="./create.html"]{ border: 1px solid black; padding: 5px; background-color: rgba(161, 150, 113, 0.24);}
        .first{background-image: url(./img/bcgrnd.jpg); justify-content: center; height: 100%;}
        .form1{position: relative;   display: flex;}
